#Body {
   min-height: 1000px;
    margin: 15px 10px 0 auto;
    text-align: left;
   width: 100%;
min-width: 20%;
background:transparent;
}
#Bookmark_List {
border-bottom:none;
}

#Bookmark_List li {
border-bottom:1px solid #555;
}

#CommentInfo,div.CommentInfo {
visibility:hidden;
}

#Content {
border:none;
padding:0;
min-width:20%;
width:65%;
margin: 0 10px 40px;

}

#Content,#Panel {
opacity:0.98;
}
#DiscussionForm form {
background:transparent;
border: none;
color:#fff;
}
#DiscussionForm a.Cancel {
margin-left: 0px;
}
#ConversationForm .TextBox {
    background: none repeat scroll 0 0 #000000;
    height: 100px;
    margin: 8px 0 6px;
    min-height: 100px;
    width: 100%;
}
#ConversationForm form {
    background: none repeat scroll 0 0 #222222;
    border-radius: 2px 2px 2px 2px;
    height: 600px;
    margin: 0;
    padding: 20px;
    text-align: right;
}
div#ConversationForm{
width:98%;
}
#ConversationForm label {
    color: #CCCCCC;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
#DiscussionForm label {
font-size: 23px;
background:transparent!important;
color:#0F0!important;
text-align: center;
float: none;
font-weight: bold;
font-family: Impact,Arial;
text-shadow: 2px 3px 3px #000;
}
#DiscussionForm h1{
background:transparent!important;
font-family: Impact,Arial;
text-shadow: 2px 3px 3px #000;
}
#DiscussionForm .PostOptions label {
display: inline;
font-weight: normal;
font-size: 100%;
color:#fff;
}

#Foot {
background:transparent;
margin-bottom:10px;
}

#Foot div {
margin: 20px auto;
padding: 0;
text-align: center!important;
width: 100%;
}
#FootMenu ul#Menu li ul{
display:none!important;
}
#FootMenu li.NonTab a.SignInPopup{
display: none;
}
#FootMenu li.NonTab.SignOut a {
display: none;
}
#translate-this .translate-this-button {
background: url('http://x.translateth.is/tt-btn1.png') no-repeat;
visibility: visible;
position: relative;
width: 180px;
height: 18px;
float: none!important;
display: inline-block!important;
overflow: hidden;
text-indent: -2000px;
margin: 10px;
text-align:center;
}
#Form_Form {
background:#444;
border:1px solid #666;
border-left:none;
border-right:none;
padding-bottom:10px;
}

#Head {
background: 
transparent;
background-image: none;
background-repeat: repeat;
border-bottom: none;
padding-left: 10px;
}

#Head h1 span img {
max-width:900px;
min-width: 400px;
height: auto!important;
width:80%!important;
}

body #Head h1 {
display: inline-block;
font-weight: bold;
margin: 0;
padding: 21px 10px 4px 0;
border: 0;
background:transparent;
}
#Menu {
display:inline-block;
margin:0 auto;
vertical-align:bottom;
}

#Menu a:hover {
background:url(images/seagrad2.png);
color:#0F0;
font-size:12pt;
border:1px solid #222!important;
border-radius: 3px 3px 3px 3px;
box-shadow: 0px 0px 0px 1px #0f0;
}

#Menu a:link {
font-size:12pt;
text-decoration:none;
}

#Menu li {
display: inline;
float: none;
font-weight: 700;
line-height: 1.5;
list-style: none outside none;
margin: 0;
padding: 0;
position: relative;
text-align: center;
}
#Menu a span, #Menu li.Active a span, #Menu li.Highlight a:hover span {
-moz-border-radius: 11px;
-webkit-border-radius: 11px;
border-radius: 11px;
padding: 0 2px;
font-size: 11px;
line-height: 12px;
font-weight: bold;
text-shadow: none;
background:#fff;
color:#000;
}
#MessageForm {
background:#333;
}

#Panel {
float:right!important;
margin-right:10px;
width:30%;
}


#Panel form input.InputBox {
background:none repeat scroll 0 0 #222;
border-color:#666;
border-image:none;
border-style:solid;
border-width:2px;
color:#0F0;
font-size:12px;
font-weight:700;
opacity:0.9;
padding:8px;
vertical-align:bottom;
width:72%;
}

#Panel input.InputBox,.AddPeople textarea.MultiComplete {
margin-bottom:2px;
width:188px;
}

#Status {
background:#222;
padding-bottom:5px;
}

#ThemeCredit {
color:#333;
font-size:9px;
}

.Active .TabLink, a.MyDrafts.TabLink,a.MyDiscussions.TabLink,a.MyBookmarks.TabLink,a.MyComments.TabLink,a.WriteButton.TabLink.Popable,a.DraftButton.TabLink {
position: relative!important;
top: 5px!important;
}

a.MyDrafts.TabLink:hover,a.MyDiscussions.TabLink:hover,a.MyBookmarks.TabLink:hover,a.MyComments.TabLink:hover,,a.WriteButton.TabLink.Popable:hover,a.DraftButton.TabLink:hover {
position: relative!important;
top: 5px;
}

.Activities .DataList li {
background:#111;
border:1px solid #333;
}

.Activities .Excerpt {
color:#FFF;
font-weight:700;
}
.Activities li.HasPhoto .Title {
padding: 0;
color:#0F0;
}
.Activities .Excerpt a:hover,.Activities .Meta a:hover,.DataList a.Title:hover {
font-size:10pt;
text-decoration:none;
color:#FF0;
}
.DataList .Excerpt a {
color:#fff!important;
display: block;
}
.Activities .Excerpt a,.Activities .Meta a,.DataList a.Title {
font-size:10pt;
text-decoration:none;
}

.Box {
-moz-box-shadow:none;
-webkit-box-shadow:none;
background:#222;
border:1px solid #555;
box-shadow:none;
text-align: center;
}

.Box dl dt {
color:#555;
}

.Box h4 {
background:rgba(51, 51, 51,0.84);
border:1px solid #555;
box-shadow:none;
color:#fff;
text-align:center;
}

.Box p,.Activities .Excerpt a,.Activities .Meta a,body.Entry form ul li label {
color:#ddd;
}
.Buttons {
margin-top: 10px;
text-align: center;
}
.CommentForm a.Back, .CommentForm a.Cancel {
float: right;
}
.cleditorToolbar {
background-attachment: scroll;
background-clip: border-box;
background-color:transparent;
background-image: url(images/seagrad2.png)!important;
background-origin: padding-box;
background-position: 0 0;
background-repeat: repeat;
background-size: 40px auto;
}
.cleditorMain {
border: 1px solid #999;
padding: 0 1px 1px;
background-color: #222222;
color:#33ff33;
font-size: 12pt;
height:500px!important;
}
.Conversation .Item {
background:#222;
border-bottom:1px solid #444;
}

.DataList .Item {
background:#222;
border:1px solid #333;
border-top:none;
}

.DataList .Meta .Announcement {
    background: none repeat scroll 0 0 #4242A9;
    font-size: 13px;
    font-weight: 700;
}
.DataList .Meta span {
font-size: 11px;
color:#adadad;
width: 100%;
padding: 3px;
}
.DataList .Meta .Closed {
background:#bb3c3c;
font-weight:400;
}

.DataList .Options,.MessageList .Options {
margin:7px 4px 0 0;
}

.DataList li.Mine .Meta a.Category,.DataList .Meta a.Category {
background:#555;
}
.DismissMessage.Warning {
background:#0F0;
border: 2px solid #222;
color: #000;
font-weight: bold;
font-size: 16pt;
text-align: center;
}
.Empty{
display:none;
}
.EmoticonBox {
-moz-border-bottom-colors:none;
-moz-border-left-colors:none;
-moz-border-right-colors:none;
-moz-border-top-colors:none;
background-color:#222;
background-position:center center;
border-color:0 #AAA #AAA 0;
border-image:none;
border-right:1px solid #AAA;
border-style:none solid solid none;
border-width:0 1px 1px 0;
cursor:pointer;
display:block;
float:left;
height:22px;
overflow:hidden;
width:22px;
}
.Emoticon a:link:hover,.Emoticon img:hover,.Emoticon a:hover,.Emoticon:hover{
background:#00ff00!important;
}
.EmotifyDropdown {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url(images/smile.png);
background-size:22px;
    background-origin: padding-box;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 22px;
    position: absolute;
    right: 1px;
    float:right;
    top: 1px;
    width: 22px;
}
.EmotifyDropdown:hover {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #222222!important;
    background-image: url(images/smile.png);
background-size:22px;
    background-origin: padding-box;
   background-repeat: no-repeat;
    cursor: pointer;
    height: 22px;
    position: absolute;
    right: 1px;
    float:right;
    top: 1px;
    width: 22px;
}
.Foot {
background:transparent;
border:1px solid #ba5454;
}
.Foot .Note {
    color: #000000;
    float: left;
    font-weight: bold;
    padding: 0 0 0 8px;
}
.HeadingTabs .SubTab {
background:#222;
display: block;
text-align: center;
font-size: 23px;
font-weight: bold;
line-height: 2.4;
padding: 0px;
border: 1px solid #666;
color: #0F0;
text-shadow: 1px 3px 4px #000;
font-family: Impact,Arial;
}
.Headings .ItemHeading {
color:lime;
font-size: 20px;
font-weight: bold;
line-height: 2;
text-align: center;
font-family: Impact,Arial;
text-shadow: 0 1px 0 #000;
}

.Item .Author img {
    background: none repeat scroll 0 0 #222;
    border: 0 none;
    box-shadow: 1px 1px 2px 1px #00FF00;
    float: left;
    height: 40px;
    margin: 0 10px 0 0;
    overflow: hidden;
    width: 40px;
}
.Menu {
margin:0 auto;
position:relative;
text-align:center;
vertical-align:bottom;
width:100%;
}
.MenuTitle {
    -moz-user-select: none;
    background: url("images/seagrad2.png") repeat scroll 0 0 transparent;
    border: 1px solid #666666;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 6px;
    text-shadow: 0 1px 0 #000000;
}
.Menu h1 span img {
width:100%;
height:auto;
}
.MessageForm, .Tabs, .Headings {
background:transparent;
border-bottom: none;
}
.MessageForm .Tabs {
padding: 10px;
border: 0;
background: none;
text-align: right;
}
.Meta .RSS img {
vertical-align:bottom!important;
width: 24px!important;
height: 24px!important;
}
.PanelInfo {
border:1px solid #555;
}

.PanelInfo .Active {
background:#fff;
border:none;
}

.PanelInfo li {
background:#444;
border:none;
}

.Popup #Form_Form {
background:#fff;
}

.Popup #Form_Form,div.Popup .Legal,div.Popup .Content form {
background:none repeat scroll 0 0 #222;
color:lime;
font-size:14pt;
font-weight:700;
}
.Popup #ConversationForm form {
    background: none repeat scroll 0 0 #222222;
    border-radius: 0 0 0 0;
    padding: 10px;
}
.Preview {
background:#222;
border:1px solid #444;
}

.ttb-panel {
display: none;
font-size: 12px;
background:rgba(0, 0, 0, 0.5)!important;
border:none!important;
font-family: Arial;
color:#fff;
}
#ttb-paneltop.ttb-paneltop{
background:transparent!important;
}
.ttb-panel.notranslate {
display: none;
font-size: 12px;
text-align: left;
background:rgba(0, 0, 0, 0.5);
border: none!important;
font-family: Arial;
color: #fff;
}
.ttb-paneltop{
background:rgba(0, 0, 0, 0.5)!important;
border: none!important;
}
.ttb-panel.notranslate div {
background:rgba(0, 0, 0, 0.5)!important;
border: none!important;
font-size: 14px!important;
}
a.ttb-close{
background:#222!important;
color:#fff!important;
font-size:14px!important;
}
.ttb-panel.notranslate div a{
background:none transparent!important;
border:none!important;
font-size: 14px!important;
color:#fff;
}
.ttb-panel a {
color:#fff;
}
.ttb-panel.notranslate div a:hover {
background:rgba(0, 0, 0, 0.5)!important;
color:#0f0!important;
border:1px solid #222!important;
outline: 1px solid #0f0!important;
text-decoration:none!important;
}
.ttb-cta:hover {
background:transparent;
outline: 1px solid #0f0!important;
text-decoration:none!important;
}
.TabLink, .TabLink:link, .TabLink:active, .TabLink:visited {
position: relative;
top: 13px;
right: 5px;
}
.TabLink:hover, .TabLink:link:hover, .TabLink:active:hover, .TabLink:visited:hover {
position: relative;
top: 13px;
right: 5px;
}
a.TabLink.Popable{
position: relative;
top:13px;
right: 5px;
}
.Tabs .Breadcrumbs {
background:transparent;
text-align: center;
}
.Tabs.ProfileTabs{
background:transparent;
}
div.SubTab.Breadcrumbs span.Breadcrumb a{
font-size: 20px!important;
font-family: Impact,Arial;
font-weight: bold;
}
.Tabs li a span {
background:#4ec14c;
color:#000;
}

.User h1 {
color:#fff;
font-size:12pt;
font-weight:400;
padding:10px;
}

NonTab SignOut a {
font-size:10pt;
font-weight:700;
}

a {
color:#ddd;
font-size:14px;
font-weight:700;
}

a.BigButton {
background:url(images/seagrad.png);
background-repeat:repeat-x;
border:1px solid #999;
border-radius:3px 3px 3px 3px;
box-shadow:0 0 2px #999;
color:#FFF!important;
display:block;
font-size:16px;
font-weight:700;
margin:0 0 10px;
padding:8px;
text-align:center;
text-shadow:0 1px 0 #000;
line-height: 1.3;
}
a.Button.SignInPopup,a.Button.ApplyButton,input#Form_SignIn,input#Form_Share.Button,input#Form_PostComment.Button.CommentButton,.CommentForm a.Back, .CommentForm a.Cancel, a.Back,.Back, a.Cancel, div.AttachFileLink a, a.DeleteFile, a.InsertImage.Hidden,a.SmallButton,input.SmallButton, input.Button, a.Button.SignInPopup, a.Button.ApplyButton,.Button, input#Form_Go.Button, input#Form_SignIn ,#Panel form input.Button,.TabLink, .TabLink:link, .TabLink:active, .TabLink:visited,#DiscussionForm a.Cancel {
    display: inline-block;
    line-height: 100%;
    margin: 3px auto;
    padding:6px!important;
background-image:url(images/seagrad.png)!important;
background-repeat:repeat-x;
color:#fff;
border:1px solid #999;
border-radius: 3px 3px 3px 3px;
box-shadow:0 0 2px #999;
text-shadow: 0 1px 0 #000;
}
a.Button.SignInPopup:hover, a.Button.ApplyButton:hover,input#Form_SignIn:hover,input#Form_Share.Button:hover,input#Form_PostComment.Button.CommentButton:hover, a.Back:hover, div.AttachFileLink a:hover, a.DeleteFile:hover, a.InsertImage.Hidden:hover,a.SmallButton:hover,input.SmallButton:hover,input.SmallButton:focus,input.Button:hover,a.Button.SignInPopup:hover,a.Button.ApplyButton:hover,.Button:hover,input#Form_Go.Button:hover,input#Form_SignIn:hover,#Panel form input.Button:hover,.TabLink:hover, .TabLink:link:hover, .TabLink:active:hover, .TabLink:visited:hover,#DiscussionForm a.Cancel:hover {
display: inline-block;
background: url(images/seagrad2.png)!important;
line-height: 100%;
border: 1px solid #222!important;
border-radius: 3px 3px 3px 3px!important;
box-shadow: 0px 0px 0px 1px #0f0!important;
color:#0f0!important;
text-shadow: 0 1px 0 #000!important;
}

a.BigButton:hover {
background:url(images/seagrad2.png);
color:#0f0;
font-size:16px!important;
text-shadow:0 1px 0 #000;
-moz-box-shadow:0px 0px 3px 2px #0f0;
-webkit-box-shadow:0px 0px 3px 2px #0f0;
box-shadow:0px 0px 3px 2px #0f0;
}

a.Bookmark span,a.Bookmarking span {
display:none;
}

a.Bookmark,a.Bookmarked,a.Bookmarking {
background:url(images/star_sprite.png) top center no-repeat;
}

a.Bookmarked {
background-position:center center;
}

a.Bookmarking {
background-position:bottom center;
}

a.Button,.Button,#Menu a{
background:url(images/seagrad.png);
background-repeat:repeat-x;
border:1px solid #999;
border-radius:3px 3px 3px 3px;
box-shadow:0 0 2px #999;
color:#fff;
cursor:pointer;
display:inline-block;
font-size:14px;
font-weight:700;
margin:0 0 10px;
padding:3px 6px;
text-align:center;
text-shadow:0 1px 0 #000;
}
a.Close span {
font-size: 22px;
font-weight: bold;
color: #fff;
font-size: 22px;
    font-weight: bold;
    line-height: .9;
    padding: 0;
margin: 0 2px auto;
}
a.Close span:hover {
    font-size: 22px;
    font-weight: bold;
    line-height: .9;
    padding: 0;
    color:#00ff00;
margin: 0 2px auto;
}

a.Permalink {
color:#adadad;
font-size:10pt;
font-weight:700;
}

a.Permalink:hover,a.CommentOption:hover {
color:#0F0;
font-size:10pt;
font-weight:700;
}

a:hover,a:link:hover,a:hover image,a:link img:hover {
color:#0F0;
font-weight:700;
}
body {
background-attachment: fixed;
background-clip: border-box;
background-color:#000080;
background-image: url(images/bg.png);
background-origin: padding-box;
background-position: center bottom 0px;
background-repeat: no-repeat;
background-size: 100% 120%;
color:#fff;
font-weight: 700;
box-shadow: none;
width: 100%;
}
body.Discussion a.Bookmark {
float: right;
margin: 10px 0 0 8px;
}
body.Entry #Content h1, h1, #DiscussionForm form label, .Activities li.Condensed .Excerpt, .Box .PanelCategories .Heading, .Conversations .Conversation .Message, #MessageForm h2 {
    background: none repeat scroll 0 0 #222222;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold !important;
    text-align: center;
}
body.Entry #Content {
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 360px;
background: none repeat scroll 0 0 #222222;
}
body#dashboard_entry_password #Content form, body#dashboard_entry_signin #Content form, body#dashboard_entry_index #Content form {
width: 310px!important;
}
body.Profile #Content {
margin:0 10px 40px;
float:left;
min-width:20%;
width:65%;
}

body.Profile #Form_Invitation ul li label,body.Profile #Form_User ul li label,div.Popup form ul li label {
color:#FFF;
display:block;
font-size:14px;
font-weight:700;
margin:10px 0 0;
}

body.Profile #Form_User ul li label.RadioLabel,body.Profile #Form_User ul li label.CheckBoxLabel,div.Popup form ul li label.RadioLabel,div.Popup form ul li label.CheckBoxLabel {
font-weight:700;
}

body.Profile #Panel {
float:right!important;
width:30%;
}

body.Profile .PanelInfo {
border-bottom:1px solid #555;
margin:3px 0;
}

body.Profile ul.Activities {
border-top:1px solid #333;
}

dd.IP a,dt.IP,dd.IP,dt.Visits,dd.Visits,dt.LastActive,dd.LastActive,dd.Joined,dt.Joined {
display:none;
visibility:hidden;
}

dd.Name {
color:#0F0;
font-size:14pt;
font-weight:700;
}

div.Comment {
color:#3f3;
font:family:Arial;
font-size:12pt!important;
}

div.DismissMessage.Info {
background:#0F0;
border-color:#222;
border-style:solid;
border-width:1px;
font:family:Arial;
font-size:12pt;
font-weight:700;
}

div.Entry.SingleEntryMethod {
background:#000;
border-color:#666;
border-width:1px;
}

div.Entry.SingleEntryMethod Label {
font-color:#adadad;
}
div.Entry.SingleEntryMethod h1 {
    background: url("images/seagrad.png") repeat scroll 0 0 transparent;
    border-color: #222222;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF !important;
    text-shadow: 0 1px 0 #000000;
}

div.Foot {
background:transparent;
border:none;
}

div.Message {
color:#3f3;
font:family:Arial;
font-size:12pt!important;
font-weight:700;
}
div.Popup a, #ThemeCredit a {
color: #ADADAD;
}

div.Popup a:hover {
text-decoration:none;
}

div.Popup h1,div.Popup h2 {
background:url(images/seagrad.png) ;
background-repeat:repeat-x;
border:1px solid #666;
border-radius:0;
box-shadow:0 0 2px #999;
color:#fff;
font-size:18px;
}

div.Popup,.PanelInfo .Active a {
color:#111;
font-size:14px;
}

div.Preview {
background:#222!important;
font-size:14px;
}
div#Panel div.Photo img {
    margin: 0 auto !important;
    width: 98% !important;
}

div.User h1 {
color:#0F0;
font-size: 24pt;
font-weight: 700;
text-shadow: 2px 3px 4px #000;
font-family: Impact,Arial;
background: none repeat scroll 0 0 
transparent;
}
div.Video embed{
width:440px!important;
}
h1,h2,h3,h4,h5,h6 {
color:lime;
font-family:"Helvetica Neue",Helvetica,arial,sans-serif;
font-weight:400;
margin:0;
}

input#Form_Go.Button {
font-size:12pt;
font-weight:700;
}
input#Form_Go.Button:hover {
background: url(images/seagrad2.png);
border: 1px solid #222;
border-radius: 3px 3px 3px 3px;
box-shadow: 0px 0px 0px 1px #0f0;
color:#0f0!important;
}


input.DateBox,input.InputBox,input.SmallInput,textarea {
background:none repeat scroll 0 0 #222;
border:1px solid #666;
border-radius:2px 2px 2px 2px;
color:lime;
font-size:15px;
font-weight:700;
margin:0;
padding:3px;
width:250px;
}
input.DateBox:focus,input.InputBox:focus,input.SmallInput,textarea:focus {
background:none repeat scroll 0 0 #222;
border:1px solid #666;
border-radius:2px 2px 2px 2px;
color:lime;
font-size:15px;
font-weight:700;
margin:0;
padding:3px;
width:250px;
}
span.Email a,span.AddComment a {
color:grey;
font-size:10pt;
}
table.PreferenceGroup td.Description {
    font-size: 14px;
}
textarea.MultiComplete {
    background: none repeat scroll 0 0 #000000;
    height: 20px;
    text-align: left;
    width: 100%;
}

div.Message img{
box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
-moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
border:1px solid #222;
width: 98%!important;
}
.Attachment:hover .FileHover {
    z-index: 101;
    display: block;
    background: url(images/contnt.png) rgba(0, 0, 0, 0.9);
    padding: 6px;
    border: 1px solid #666;
   box-shadow: 0px 2px 10px #000;
    -moz-box-shadow: 0px 2px 10px #000;
    -webkit-box-shadow: 0px 2px 10px #000;
    position: absolute;
    top: -7px;
    left: -7px;
border-radius:4px;
}
#menu-bar {
background:url(images/seagrad.png);
background-repeat:repeat-x;
border:1px solid #999;
box-shadow:0 0 2px #999;
color:#fff;
cursor:pointer;
display:inline-block;
font-size:14px;
font-weight:700;
margin:0 0 10px;
padding:3px 6px;
text-align:center;
text-shadow:0 1px 0 #000;  
margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  height: 35px;
width:98%;
  line-height: 100%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
 
}
#menu-bar li {
  margin: 0px 6px 0px 6px;
  padding: 0px 0px 7px 0px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
font-weight: bold;
font-family: arial;
font-style: normal;
font-size: 15px;
color:#fff;
text-decoration: none;
display: block;
padding: 10px 20px 8px 80px;
margin: 0 auto;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
text-shadow: 2px 1px 0px #000;
}
#menu-bar .current a, #menu-bar li:hover > a {
  background:transparent;
  color: lime;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar:hover {
background: url(images/seagrad2.png)transparent;
-moz-box-shadow: 0px 0px 3px 2px #0f0;
-webkit-box-shadow: 0px 0px 3px 2px #0f0;
box-shadow: 0px 0px 3px 2px #0f0;
border: 1px solid #222;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #fff;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background:url(images/seagrad.png)!important;
background-repeat:repeat-x;
  color: lime !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar ul {
background:rgba(0, 0, 0, 0.7);
display: none;
margin: 0;
padding: 0;
width: 240px;
position: absolute;
top: 30px;
left: 0;
border: solid 1px #222;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-webkit-box-shadow: 2px 2px 3px #222222;
-moz-box-shadow: 2px 2px 3px #222222;
box-shadow: 2px 2px 3px #222222;
z-index: 100;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:8px;
  color:#FFFFFF !important;
  font-size:16px;
  font-style:normal;
  font-family:arial;
  font-weight: bold;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}

ul#Menu li ul {
position: absolute;
visibility: hidden;
display: none;
margin: 0;
padding: 0;
width:167px;
top: 25px;
left: 0;
background: url(images/contnt.png) rgba(0, 0, 0, 0.7);
border: solid 1px #666;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-webkit-box-shadow: 2px 2px 3px #666;
-moz-box-shadow: 2px 2px 3px #666;
box-shadow: 2px 2px 3px #666;
z-index: 100;
text-align:left;
}
ul#Menu li ul li {
float: none;
display: inline;
margin: 0;
z-index: 9;
background: 
transparent!important;
border: none!important;
font-size: 12pt;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
text-shadow: 2px 2px 3px #000000;
z-index: 4;
}

ul#Menu li ul li a {
background: none 
transparent!important;
color: #fff !important;
text-shadow: 0 1px 0 #000!important;
font-size: 12pt!important;
text-align: center!important;
font-weight: bold;
border: none;
box-shadow: none;
display: inline-block;
width: 165px!important;
padding: 0;
margin: 0;
}
ul#Menu li ul li a:hover {
 background:url(images/seagrad.png)!important;
background-repeat:repeat;
  color: lime !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #000000;
box-shadow:none;
}
ul#Menu ul li:last-child > a:hover {
border-bottom-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomright: 5px;
}
ul#Menu ul li:first-child > a:hover {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}
ul#Menu ul li:last-child > a {
border-bottom-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomright: 5px;
}
ul#Menu ul li:first-child > a {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}
.UploadProgress {
margin: 10px 0;
background:url('images/upload-progress-back1.gif')!important;
width: 200px;
height:39px;
z-index: 0;
color: #fff;
text-shadow: 0 1px 1px #000;
border: 1px solid #666;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
font-size: 14px;
}
div.AttachFileWrapper table.AttachFileContainer tr.FileAttachment td div.ProgressBar {
   width: 126px;
   border: 2px solid gray;
   background-color:transparent;
   height:39px;
   background url(images/upload-progress-back1.gif)!important;
   border: 0px;
font-size: 14px;
}
div.AttachFileWrapper table.AttachFileContainer tr.FileAttachment td div.ProgressBar div.ProgressTicker {
   height:39px;
   background-color:transparent;
   background:url(images/upload-progress-back1.gif)!important;
   line-height: 14px;
   font-size: 14px;
   color: #fff;
   padding-right: 2px;
   text-align: right;
}
div.MainForm div form#Form_User_SignIn{
background:#000;
width: 288px!important;
border: none;
}
.SingleEntryMethod {
width: 310px;
margin: 0 auto;
}
body.Profile #Form_Invitation ul li label, body.Profile #Form_User ul li label, div.Popup form ul li label {
color:#fff;
display: block;
font-size: 14px;
font-weight: bold;
margin: 10px 0 0;
}
div.Popup a {
color: #ccc;
}
div.Popup h1 {
color: #fff;
font-size:16px;
background:url(images/seagrad2.png);
border:1px solid #222;
}
div.Popup h2{
background:none #222;
box-shadow:none;
border:none;
}
div#Popup #Content {
    float: left;
    margin: 0 0 40px;
   width: 100%!important;

}
div#Popup .Content {
    float: left;
    margin: 0 0 40px;
   width: 100%!important;

}
div.Popup p {
    font-size: 16px;
    padding: 6px 10px 10px;
text-align: left;
}
div.Popup .Body {
background: #222;
max-height: 800px;
    overflow: auto;
    max-width: 600px;
}
div.Popup .Border {
margin: 0px auto;
text-align: left;
position: relative;
max-width: 600px!important;
display: inline-block;
}
div.Popup .Legal, div.Popup .Content form {
max-height: 640px;
overflow: auto;
padding: 0 10px 10px;
}
div.Popup a.Close span {
 margin: 0 20px auto;
}
li.CreateAccount{
font-size:14px;
}
body.Dashboard.Plugin #Content {
width: 90%;
margin: 0 auto;
float: none;
background:rgba(0, 0, 0,0.84);
border-bottom: #666;
min-height: 1000px;
}
body.Dashboard.Plugin .MessageForm, body.Dashboard.Plugin .Tabs, .Headings {
background:rgba(0, 0, 0,0.84);
border-bottom:#666;
text-align: center;
font-size: 18px;
}
h19 {
font-size: 28px;
font-weight: bold;
font-family: Impact,Arial;
color:#0F0!important;
}

body.Dashboard.Plugin #Panel {
display: inline-block;
float: none!important;
width: 100%!important;
background: none repeat scroll 0 0 
transparent!important;
border: none!important;
margin-left: 0!important;
margin-top: 0px!important;
text-align:center!important;
}
body.Dashboard.Plugin #menu-bar {
display: none!important;
}
.picGals .pics img {
display: inline;
width: 150px;
height: 150px;
text-align: center;
margin: 15px 15px 15px 15px;
border-radius: 150px 150px 150px 150px!important;
box-shadow: 0px 2px 2px 12px #666;
}
body.Vanilla.Discussions .Active .TabLink {
position: relative!important;
top: 5px!important;
}
.flag span {
position: absolute;
margin: -5px 25px;
}
body.Post #Content {
width: 98%;
background: transparent;
}
body {
overflow-y: scroll;
overflow-x: hidden;
}


* {
margin: 0;
padding: 0;
}

::-webkit-scrollbar {
width: 12px;
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 10px;
border-radius: 10px;
background:rgb(0, 255, 0);
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgb(102, 102, 102);
-webkit-border-radius:0;
border-radius: 0;
background:rgba(0, 0, 0, 0.9);
}
marquee.textmarquee {
background-color:transparent;
font-size: 50pt;
color:gold;
text-shadow: 0 2px 2px #000;
font-weight: normal;
border: none;
line-height: .85;
width: auto;
font-family: Gawain!important;
max-height: 95px;
}
@font-face {
 font-family: 'Gawain';
 src: url('/Forum/themes/DeepSea/Gawain.ttf');
 src: url('/Forum/themes/DeepSea/Gawain.ttf') format('truetype');
  font-weight: normal;
 font-style: normal;
}
code, pre {
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
background:#ff9;
padding: 4px 8px;
white-space: pre;
font-family: monospace;
overflow: auto;
border: 1px solid #666;
color:#000!important;
}
blockquote {
padding: 5px 10px;
margin-right: 10px;
font-style: italic;
background-color:#000080;
margin-left: 0px;
}